body{
    background-image: url("https://th.bing.com/th/id/OIP.ensiLtlsMoQxpqIoO-IyYgHaEo?pid=ImgDet&rs=1");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    
}

.mainarea{
    text-align: center;
    /* border: 1px solid gray; */
    width: 220px;
    margin: 200px auto;
    background: transparent;
    border: 2px solid gray;
    width: 300px;
    height: 400px;
    backdrop-filter:blur(10px);
    border-radius: 20px;
}
.btn{
   border: 1px solid rgb(83, 82, 72);
   height: 50px;
   width: 50px;
   line-height: 50px;
   display: inline-block;
   background-color: antiquewhite;

   cursor: pointer;
}
.btn:hover{
    background-color: bisque;
}
.btncommon{
    width: 106px;
    
}
input{
    font-size: 17px;
    height: 40px;
    background-color:antiquewhite;
    
}